.vscode
node_modules
node_modules/
node_modules/*
node_modules/**/*
.vscode/settings.json
client/admin/.vite/deps/package.json
client/admin/.vite/deps/package.json
.vscode/settings.json
client/admin/.vite/deps/package.json
client/admin/.vite/deps/package.json
api/.env
api/backend.joordih.gov-key.pem
api/backend.joordih.gov.pem
api/backend.joordih.local-key.pem
api/backend.joordih.local.pem
api/cert.pem
api/key.pem
api/localhost-key.pem
api/localhost.pem
api/mkcert-v1.4.4-windows-amd64.exe
api/src/config/database.config.ts
client/landing/joordih.gov-key.pem
client/landing/joordih.gov.pem
client/landing/mkcert-v1.4.4-windows-amd64.exe
gitfolio/src/api/git.ts
