.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  height: 100vh;
  padding: 1rem;
}

#table {
  grid-area: 2 / 1;
  overflow: auto;
}

#forms {
  grid-area: 3 / 1;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
  }
  
  #table {
    grid-area: 2 / 1;
  }
  
  #forms {
    grid-area: 2 / 2;
    margin-top: 0;
  }
}